<launch>
  <arg name="localization_shadow_enabled" default="true" />
  <arg name="localization_shadow_map_yaml" default="$(find grinder_scheduler)/../../../temp/live_map/map.yaml" />
  <arg name="localization_shadow_scan_topic" default="/slamware_ros_sdk_server_node/scan" />
  <arg name="localization_shadow_odom_frame" default="odom" />
  <arg name="localization_shadow_base_frame" default="base_link" />
  <arg name="localization_shadow_global_frame" default="map" />
  <arg name="localization_shadow_amcl_gui_publish_rate_hz" default="5.0" />

  <arg name="localization_monitor_check_hz" default="10.0" />
  <arg name="localization_monitor_status_publish_hz" default="2.0" />
  <arg name="localization_monitor_diagnostics_publish_hz" default="1.0" />
  <arg name="localization_monitor_action_mode" default="warn_only" />
  <arg name="localization_monitor_fault_topic" default="/localization_monitor/fault" />
  <arg name="localization_monitor_warn_position_m" default="0.30" />
  <arg name="localization_monitor_fault_position_m" default="0.60" />
  <arg name="localization_monitor_warn_yaw_deg" default="10.0" />
  <arg name="localization_monitor_fault_yaw_deg" default="20.0" />

  <group if="$(arg localization_shadow_enabled)" ns="localization_shadow">
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg localization_shadow_map_yaml)" output="screen">
      <param name="frame_id" value="$(arg localization_shadow_global_frame)" />
    </node>

    <node name="amcl" pkg="amcl" type="amcl" output="screen">
      <rosparam command="load" file="$(find grinder_scheduler)/config/localization_shadow_amcl.yaml" />
      <param name="gui_publish_rate" value="$(arg localization_shadow_amcl_gui_publish_rate_hz)" />
      <param name="odom_frame_id" value="$(arg localization_shadow_odom_frame)" />
      <param name="base_frame_id" value="$(arg localization_shadow_base_frame)" />
      <param name="global_frame_id" value="$(arg localization_shadow_global_frame)" />
      <param name="tf_broadcast" value="false" />
      <remap from="scan" to="$(arg localization_shadow_scan_topic)" />
    </node>
  </group>

  <node if="$(arg localization_shadow_enabled)"
        pkg="grinder_scheduler"
        type="localization_monitor_node.py"
        name="localization_monitor"
        output="screen">
    <rosparam command="load" file="$(find grinder_scheduler)/config/localization_monitor.yaml" />
    <param name="amcl_pose_topic" value="/localization_shadow/amcl_pose" />
    <param name="initialpose_topic" value="/localization_shadow/initialpose" />
    <param name="expected_frame" value="$(arg localization_shadow_global_frame)" />
    <param name="localization_monitor_check_hz" value="$(arg localization_monitor_check_hz)" />
    <param name="localization_monitor_status_publish_hz" value="$(arg localization_monitor_status_publish_hz)" />
    <param name="localization_monitor_diagnostics_publish_hz" value="$(arg localization_monitor_diagnostics_publish_hz)" />
    <param name="localization_monitor_action_mode" value="$(arg localization_monitor_action_mode)" />
    <param name="localization_monitor_fault_topic" value="$(arg localization_monitor_fault_topic)" />
    <param name="localization_monitor_warn_position_m" value="$(arg localization_monitor_warn_position_m)" />
    <param name="localization_monitor_fault_position_m" value="$(arg localization_monitor_fault_position_m)" />
    <param name="localization_monitor_warn_yaw_deg" value="$(arg localization_monitor_warn_yaw_deg)" />
    <param name="localization_monitor_fault_yaw_deg" value="$(arg localization_monitor_fault_yaw_deg)" />
  </node>
</launch>
